@charset "utf-8";
// If need, change your variables before importing Bulma

$subtitle-color: #79b837;

@import "~bulma/bulma.sass";

.logo {
  width: 260px;
}

.has-text-green {
  color: #79b837;
}

.navbar {
  box-shadow: 0px 7px 24px -4px rgba(122, 122, 122, 0.54);
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 50px;
}

.add-top-margin{
  margin-top: 4rem;
}

.add-top-padding{
  padding-top: 0.5rem;
}

.add-right-margin{
  margin-right: 20rem;
}

